--- 
layout: default 
title: Blog 
---

 {% assign tag = site.data.tags[page.tag].name %}

<div class="breadcrumbs-v1">
	<div class="container">
		<span>Posts tagged with "{{ tag }}"</span>
	</div>
</div>

<div class="container content">
	<div class="row blog-page">
		<!-- Left Sidebar -->
		<div class="col-md-9 md-margin-bottom-40">
			<!--Blog Post-->
			{% include paginated_posts.html  %}
			<!--Pagination-->
			<div class="text-center">

			{% assign tagPath = 'tags/' | append: page.tag %}
			<ul class="pager pager-v3 pager-sm no-margin-bottom">
			 {% if paginator.previous_page %}
				<li class="previous"><a href="{{ paginator.previous_page_path | replace: 'blog', tagPath }}">← Newer</a></li>
			 {% endif %}
				<li class="page-amount">{{ paginator.page }} of {{ paginator.total_pages }}</li>
			 {% if paginator.next_page %}
				<li class="next"><a href="{{ paginator.next_page_path | replace: 'blog', tagPath }}">Older →</a></li>
			 {% endif %}
			</ul>
			</div>
			<!--End Pagination-->
		</div>

		<!-- Pagination links -->

		<!-- End Left Sidebar -->

		<!-- Right Sidebar -->
		<div class="col-md-3">
			<!-- Social Icons -->
			<div class="magazine-sb-social margin-bottom-30">
				<div class="headline headline-md">
					<h2>Tags</h2>
				</div>
				<ul class="list-inline list-unstyled blog-tags margin-bottom-30">
					{% include tags_list.html %}
				</ul>
				<div class="clearfix"></div>
			</div>
			<!-- End Social Icons -->

			<!-- Posts -->
			<div class="magazine-sb-social margin-bottom-30">
				<div class="headline headline-md">
					<h2>Browse</h2>
				</div>
				<a href="{{site.url}}/archive" class="btn-u btn-brd btn-brd-hover"><i class="fa fa-history"></i> Archive</a>
				<a href="{{site.url}}/blog" class="btn-u btn-brd btn-brd-hover"><i class="fa fa-sort-amount-desc"></i> All posts</a>
				<div class="clearfix"></div>
			</div>
			<!--/posts-->
		</div>
		<!-- End Right Sidebar -->
	</div>
	<!--/row-->
</div>
<!--/container-->
<!--=== End Content Part ===-->